html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
}

main {
  width: 960px;
  min-width: 960px;
  height: 640px;
  background-color: #ddd;
  font-family: "Handlee", cursive;
  font-size: 26px;
  word-spacing: 0.245em;
  letter-spacing: 0.07em;
}

#loading:not(.hidden),
#titlescreen:not(.hidden),
#episode-intro:not(.hidden),
#episode-epilogue:not(.hidden) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#titlescreen button,
#episode-intro button,
#episode-epilogue button {
  background-image: url(./assets/UI/smallbutton.png);
  background-repeat: no-repeat;
  width: 100px;
  height: 60px;
  border: none;
  cursor: pointer;
  font: inherit;
  letter-spacing: inherit;
}

#titlescreen p {
  width: 60%;
  text-align: center;
}

.hidden {
  display: none;
}

/******* START DIALOGUE SCREEN STYLING *******/

#dialogue-container:not(.hidden) {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

#character-portrait {
  height: 450px;
  width: 200px;
  left: calc(50% - 100px);
  top: 6%;
  position: absolute;
}

.livestream {
  background-image: url("./assets/UI/livestream.png");
  width: 300px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.livestream-wrapper {
  height: 90%;
  width: 90%;
  margin-top: 11px;
  position: relative;
  overflow: hidden;
}

#view-wrapper {
  position: absolute;
  top: 5px;
  right: 16px;
  font-size: 24px;
  display: flex;
  align-items: center;
}

#livestream-chat {
  box-sizing: border-box;
  min-height: 575px;
  width: 100%;
  padding: 12px;
  font-family: sans-serif;
  font-size: 18px;
  bottom: 0;
  position: absolute;
}

.dialogue-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  background-size: cover;
}

.dialogue-overlay {
  display: flex;
  justify-content: space-between;
  margin: 14px;
  z-index: 5;
}

.dialogue-responses-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px 0 40px 0;
  z-index: 5;
}

.dialogue-wrapper {
  background-image: url(./assets/UI/dialogbox.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 13px;
  padding-top: 55px;
  position: relative;
  z-index: 5;
  min-height: 202px;
  box-sizing: border-box;
}

#speaker-name {
  position: absolute;
  text-align: center;
  bottom: 143px;
  left: 18px;
  width: 108px;
}

#responses button {
  font: inherit;
  padding: 6px;
  word-spacing: 0.245rem;
  letter-spacing: 0.07em;
  max-width: 575px;
}

#progress-dialogue {
  background-image: url(./assets/UI/nextarrow.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  width: 40px;
  height: 35px;
  border: none;
  position: absolute;
  right: 15px;
  bottom: 18px;
  cursor: pointer;
  font: inherit;
  letter-spacing: inherit;
}

#character-dialogue {
  margin: 8px;
}

/******* END DIALOGUE SCREEN STYLING *******/

/******* START AUDIO PUZZLE SCREEN STYLING *******/

#audio-container:not(.hidden) {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

#audio-container .sliders {
  display: flex;
  flex-direction: column;
}

.audio-screen {
  display: flex;
}

.audio-screen .buttons {
  display: flex;
  flex-direction: column;
}

#caption {
  opacity: 0;
  transition: all 0.2s;
  text-align: center;
}

/******* END AUDIO PUZZLE SCREEN STYLING *******/

/******* START EPILOGUE SCREEN STYLING *******/

/******* END EPILOGUE SCREEN STYLING *******/
