html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
}

main {
  width: 960px;
  min-width: 960px;
  height: 640px;
  background-color: #ddd;
  font-family: "Handlee", cursive;
  font-size: 26px;
  word-spacing: 0.245em;
  letter-spacing: 0.07em;
}

#loading:not(.hidden),
#titlescreen:not(.hidden),
#episode-intro:not(.hidden),
#episode-epilogue:not(.hidden) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

#titlescreen button,
#episode-intro button,
#episode-epilogue button {
  background-image: url("assets/UI/smallbutton.png");
  background-color: transparent;
  background-repeat: no-repeat;
  width: 100px;
  height: 60px;
  border: none;
  cursor: pointer;
  font: inherit;
  letter-spacing: inherit;
}

.hidden {
  display: none;
}

/******* START LOADING SCREEN STYLING *******/

#loading {
  background-color: #242424;
}

.loading-dots {
  margin-right: -90px;
  margin-top: 28px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: -72px 0 0 0 #D2D8AF, -48px 0 0 0 #D2D8AF, -24px 0 0 0 #D2D8AF;
  animation: bounce 1.5s infinite linear;
}

@keyframes bounce {
  0% {
    box-shadow: -72px 0 0 0 #D2D8AF, -48px 0 0 0 #D2D8AF, -24px 0 0 0 #D2D8AF;
  }
  16.667% {
    box-shadow: -72px -10px 0 0 #D2D8AF, -48px 0 0 0 #D2D8AF, -24px 0 0 0 #D2D8AF;
  }
  33.333% {
    box-shadow: -72px 0 0 0 #D2D8AF, -48px 0 0 0 #D2D8AF, -24px 0 0 0 #D2D8AF;
  }
  50% {
    box-shadow: -72px 0 0 0 #D2D8AF, -48px -10px 0 0 #D2D8AF, -24px 0 0 0 #D2D8AF;
  }
  66.667% {
    box-shadow: -72px 0 0 0 #D2D8AF, -48px 0 0 0 #D2D8AF, -24px 0 0 0 #D2D8AF;
  }
  83.333% {
    box-shadow: -72px 0 0 0 #D2D8AF, -48px 0 0 0 #D2D8AF, -24px -10px 0 0 #D2D8AF;
  }
  100% {
    box-shadow: -72px 0 0 0 #D2D8AF, -48px 0 0 0 #D2D8AF, -24px 0 0 0 #D2D8AF;
  }
}

/******* END LOADING SCREEN STYLING *******/

/******* START TITLE SCREEN STYLING *******/

#titlescreen {
  background-image: url("assets/UI/title_PLACEHOLDER.png");
  background-size: cover;
}

#titlescreen h1 {
  opacity: 0;
}

#title-text {
  position: absolute;
  left: 487px;
  top: 361px;
  width: 423px;
  height: 244px;
  overflow-y: scroll;
  padding: 9px;
  box-sizing: border-box;
}

#title-text p {
  margin-top: 0;
}

#titlescreen button {
  position: absolute;
  top: 364px;
  left: 83px;
  height: 201px;
  width: 357px;
  background: transparent;
}

/******* END TITLE SCREEN STYLING *******/

/******* START EPISODE INTRO SCREEN STYLING *******/

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("assets/UI/overlay.png");
}

#episode-title {
  z-index: 5;
  font-size: 74px;
  width: calc(100% - 54px);
  text-align: center;
}

#episode-intro button {
  z-index: 5;
}

/******* END EPISODE INTRO SCREEN STYLING *******/

/******* START DIALOGUE SCREEN STYLING *******/

#dialogue-container:not(.hidden) {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

#character-portrait {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  bottom: 160px;
  position: absolute;
}

.livestream {
  background-image: url("./assets/UI/livestream.png");
  width: 300px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.livestream-wrapper {
  height: 90%;
  width: 90%;
  margin-top: 11px;
  position: relative;
  overflow: hidden;
}

#view-wrapper {
  position: absolute;
  top: 5px;
  right: 16px;
  font-size: 24px;
  display: flex;
  align-items: center;
}

#livestream-chat {
  box-sizing: border-box;
  min-height: 575px;
  width: 100%;
  padding: 12px;
  font-family: sans-serif;
  font-size: 18px;
  bottom: 0;
  position: absolute;
}

.dialogue-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  background-size: cover;
}

.dialogue-overlay {
  display: flex;
  justify-content: space-between;
  margin: 14px;
  z-index: 5;
}

.dialogue-responses-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px 0 40px 0;
  z-index: 5;
}

.dialogue-wrapper {
  background-image: url(./assets/UI/dialogbox.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 13px;
  padding-top: 55px;
  position: relative;
  z-index: 5;
  min-height: 202px;
  box-sizing: border-box;
}

#speaker-name {
  position: absolute;
  text-align: center;
  bottom: 143px;
  left: 18px;
  width: 108px;
}

#responses button {
  background-image: url("assets/UI/responsebox.png");
  height: 84px;
  width: 575px;
  font: inherit;
  padding: 6px;
  word-spacing: 0.245rem;
  letter-spacing: 0.07em;
  max-width: 575px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#progress-dialogue {
  background-image: url(./assets/UI/nextarrow.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  width: 40px;
  height: 35px;
  border: none;
  position: absolute;
  right: 15px;
  bottom: 18px;
  cursor: pointer;
  font: inherit;
  letter-spacing: inherit;
}

#character-dialogue {
  margin: 8px;
}

#episode-epilogue-result {
  position: absolute;
  width: 660px;
  bottom: 68px;
  text-align: center;
}

#next-episode {
  position: absolute;
  background-image: url(./assets/UI/smallbutton.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  width: 119px;
  height: 71px;
  border: none;
  cursor: pointer;
  font: inherit;
  letter-spacing: inherit;
  bottom: 20px;
  right: 320px;
  z-index: 5;
}

/******* END DIALOGUE SCREEN STYLING *******/

/******* START AUDIO PUZZLE SCREEN STYLING *******/

#audio-container:not(.hidden) {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}

.translator-art {
  height: 100%;
  width: 100%;
  background-image: url(./assets/UI/devicebody.png);
  position: absolute;
}

#slider1 {
  position: absolute;
  top: 485px;
  left: 196px;
  width: 255px;
}

#slider2 {
  position: absolute;
  top: 554px;
  left: 196px;
  width: 255px;
}

#slider3 {
  position: absolute;
  top: 513px;
  left: 427px;
  width: 174px;
  transform: rotate(90deg);
}

.audio-screen {
  position: absolute;
  top: 75px;
  left: 84px;
  width: 523px;
  height: 237px;
  overflow: hidden;
}

.ghost-portrait-background {
  background-image: url("./assets/UI/device_ghostbg.png");
  position: absolute;
  position: absolute;
  left: 681px;
  top: 49px;
  width: 231px;
  height: 273px;
}

#ghost-portrait {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#caption {
  opacity: 0;
  color: white;
  transition: all 0.2s;
  left: 168px;
  text-align: center;
  position: absolute;
  top: 350px;
  width: 622px;
}

#audio-container .buttons {
  position: absolute;
  display: flex;
  top: 403px;
  left: 696px;
  flex-direction: column;
}

#audio-container .buttons button {
  background-image: url("./assets/UI/devicebutton.png");
  height: 72px;
  width: 72px;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

#audio-container .buttons button.pressed {
  background-image: url("./assets/UI/devicebutton_pressed.png");
}

#finish-audio-puzzle {
  position: absolute;
  top: 554px;
  left: 597px;
  width: 169px;
  height: 57px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  background: transparent; 
  height: 10px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 57px;
  width: 36px;
  background: url("./assets//UI/deviceslider.png");
  cursor: pointer;
  margin-top: -10px;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 57px;
  width: 36px;
  margin-top: 10px; 
  background: url("./assets//UI/deviceslider.png");
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  height: 57px;
  width: 36px;
  background: url("./assets//UI/deviceslider.png");
  cursor: pointer;
}

/******* END AUDIO PUZZLE SCREEN STYLING *******/

/******* START EPILOGUE SCREEN STYLING *******/

/******* END EPILOGUE SCREEN STYLING *******/
