html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
}

main {
  width: 960px;
  height: 640px;
  background-color: #ddd;
  font-family: 'Handlee', cursive;
  font-size: 26px;
  word-spacing: 0.245em;
  letter-spacing: 0.07em;
}

#loading:not(.hidden),
#titlescreen:not(.hidden),
#episode-intro:not(.hidden) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#titlescreen p {  
  width: 60%;
  text-align: center;
}

#titlescreen button {
  padding: 20px;
  font: inherit;
  letter-spacing: inherit;
  cursor: pointer;
}

#episode-intro button {
  padding: 20px;
  font: inherit;
  letter-spacing: inherit;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* START DIALOGUE SCREEN STYLING */

#dialogue-container:not(.hidden) {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

#character-portrait {
  height: 300px;
  width: 300px;
  left: calc(50% - 150px);
  top: 20%;
  background-size: cover;
  position: absolute;
}

.livestream {
  width: 300px;
  min-width: 300px;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.livestream-chat {
  box-sizing: border-box;
  height: 90%;
  width: 90%;
  background: white;
  padding: 12px;
  font-family: sans-serif;
  font-size: 18px;
}

.dialogue-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  background-size: cover;
}

.dialogue-overlay {
  display: flex;
  justify-content: space-between;
  margin: 14px;
  z-index: 5;
}

.dialogue-responses-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px 0 40px 0;
  z-index: 5;
}

.dialogue-wrapper {
  margin: 8px;
  padding: 8px;
  background-color: white;
  border-radius: 6px;
  position: relative;
  z-index: 5;
  min-height: 135px;
}

#speaker-name {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 100%;
}

#responses button {
  font: inherit;
  padding: 6px;
  word-spacing: 0.245rem;
  letter-spacing: 0.07em;
  max-width: 575px;
}

#progress-dialogue {
  position: absolute;
  right: 8px;
  bottom: 8px;
  cursor: pointer;
}

#character-dialogue {
  margin: 8px;
}


/* END DIALOGUE SCREEN STYLING */




#caption {
  opacity: 0;
  transition: all 0.2s;
}
